

.grid-container{
    margin-top: 10px;
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 10px;
   background-color: #f9f9fc;
   padding: 20px;
   box-shadow: 4px #b8b7b7;
   box-sizing: border-box;
   border: 1px solid #b8b7b7;
   }
   
   .grid-container > li {
       background-color: rgba(236, 235, 235, 0.8);
       text-align: center;
       font-size: 20px;
       width: 200px;
       box-shadow: 3px rgba(236, 235, 235, 0.8);
     }
   
     .item-1{
       grid-column-start: 1;
       grid-column-end: 2;
       text-decoration: none;
       align-items: center;
   
     }
   
     li{
       font-size: medium;
       list-style-type: none;
       text-decoration: none;
       align-items: center;
       flex-direction: row;
     }
   
     li:hover{
       color: #fc2260;
     }
   
     .item-2{
       background-color: rgb(239, 239, 240);
       width: 800px;
     }
   
     .ant-drawer-close {
      position: absolute;
      top: 22px;
      right: 0;
    }

    .editmail{
      border:none !important;
      outline: none !important;
      width:100% !important;
      border-bottom: "1px groove #efefef" !important;
      padding-block: 5;
    }